<div class="container">
<div class="row">
                <ngx-charts-bar-vertical 
                    [view]="[1000,400]"
                    [results]="saleData"
                    [xAxisLabel]="'Products'"
                    [legendTitle]="'Product Sale Chart'"
                    [yAxisLabel]="'Number'"
                    [legend]="false"
                    [showXAxisLabel]="true"
                    [showYAxisLabel]="true"
                    [xAxis]="true"
                    [yAxis]="true"
                    [gradient]="true">
                </ngx-charts-bar-vertical>
</div>
<div class="row panel panel-primary">
    <div class="panel-heading">Sort</div>
    <div class="panel-body">
        <div>
            <div class="pull-left">
                <input type="button" class="btn btn-primary btn-right-space"
                 value="BubbleSort" (click)="sort()">
            </div>
            <div class="pull-left">
                <input type="button" class=" btn btn-info btn-right-space" value="SelectionSort" 
                (click)="SelectionSort()">
    
            </div>
            <div >
                <input type="button"class=" btn btn-info" (click)="reload()" value="Shuffle"                >
    
            </div>
        </div>
      </div>

</div>

</div>